asgiref==3.10.0
charset-normalizer==3.4.4
Django==5.2.8
greenlet==3.2.4
gunicorn==23.0.0
packaging==25.0
pdf2image==1.17.0
pdfrw==0.4
pillow==12.0.0
playwright==1.56.0
psycopg2==2.9.11
pyee==13.0.0
PyMuPDF==1.26.6
reportlab==4.4.4
sqlparse==0.5.3
typing_extensions==4.15.0
