{% with
    login_title="Login"
    register_title="Create Account"
    email_label="Email"
    password_label="Password"
    password_create="Create Password"
    login_btn="Login"
    register_btn="Create Account"
    no_account="Don't have an account?"
    yes_account="Already have an account?"
    switch_login="Login"
    switch_register="Create Account"
    login_failed="Login failed. Check email or password."
    register_failed="Registration failed"
    server_error="Server error: Unexpected response."
%}
