asgiref==3.10.0
charset-normalizer==3.4.4
Django==5.2.8
greenlet==3.2.4
gunicorn==23.0.0
packaging==25.0
pdf2image==1.17.0
pdfrw==0.4
pillow==12.0.0
playwright==1.56.0
psycopg2==2.9.11
pyee==13.0.0
PyMuPDF==1.26.6
reportlab==4.4.4
sqlparse==0.5.3
typing_extensions==4.15.0


#[Unit]
#Description=gunicorn daemon
#After=network.target

#[Service]
#User=clinton
#Group=www-data
#WorkingDirectory=/home/clinton/formizy
#ExecStart=/home/clinton/formizy/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/clinton/mysite.sock mysite.wsgi:application


#[Install]
#WantedBy=multi-user.target


#sudo ln -s /etc/nginx/sites-available/formizy /etc/nginx/sites-enabled/


#server {
 #   listen 80;
 #   server_name 164.90.155.58;

 #   location = /favicon.ico { access_log off; log_not_found off; }
  #  location /static/ {
   #     root /home/clinton/formizy;
   # }

   # location /media/ {
   #     root /home/clinton/formizy;
   # }

    #location / {
    #    include proxy_params;
    #    proxy_pass http://unix:/home/clinton/mysite.sock;
    #}
#}



#server {
#    listen 80;
 #   server_name 164.90.155.58;
#
 #   location = /favicon.ico { access_log off; log_not_found off; }
  #  location /static/ {
  #      root /home/clinton/formizy;
  #  }

   # location /media/ {
    #    root /home/clinton/formizy;
    #}

  #  location / {
   #     include proxy_params;
    #    proxy_pass http://unix:/home/clinton/mysite.sock;
    #}
#}
